<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Edit Your 'Mon</h1>
	<br>
	<form method="POST" action="/pokemon/<%=id%>?_method=PUT">
		Name: <input type="text" name="name" value="<%=pokemon.name%>"><br>
		Image: <input type="limk" name="img" value="<%=pokemon.img%>"><br>
		<input type="submit">
	</form>
</body>
</html>