<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<style type="text/css">
		body{
			font-family: 'Press Start 2P', cursive;	
		}
	</style>
</head>
<body>
	<h1>Gotta Catch 'em All!</h1>
	<br>
	<h2><%=pokemon.name%></h2>
	<br>
	<img src="<%=pokemon.img%>"/>
	<br>
	<form action="/pokemon/<%=id%>/edit">
			<input type="submit" value="edit">
	</form>
	<form action="/pokemon/<%=id%>/?_method=DELETE" method="POST">
			<input type="submit" value="delete">
	</form>
	<br>
	<form action="/pokemon">
		<input type="submit" value="home">
	</form>
</body>
</html>