<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<style type="text/css">
		body{
			font-family: 'Press Start 2P', cursive;
		}
	</style>
</head>
<body>
	<h1>Gotta Catch 'em All!</h1>
	<br>
	<div>
		<h2><%=pokemon.name%></h2>
		<br>
		<img src="<%=pokemon.img%>"/>
	</div>
</body>
</html>